.section-Number{
    background-color: antiquewhite;
}
.container-num {
    display: flex;
    gap: 30px;
    padding-top: 80px;
  }
  
  .number-banner { filter: drop-shadow(2px 2px 5px hsla(0, 0%, 0%, 0.08)); }
  
  .about .section-text { margin-block: 20px 13px; }
  
  .about-list { margin-block-end: 50px; }
  
  .about-list .has-before {
    font-family: 'Courier New', Courier, monospace;
    font-size:20px;
    font-weight: 500;
    padding-inline-start: 20px;
    line-height: 1.5;
  }
  
  .about-list .has-before:not(:last-child) { margin-block-end: 15px; }
  
  .about-list .has-before::before {
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(240, 234, 227);
  }
  
  .about .btn-group { justify-content: flex-start; }
  
  .about .btn-group .flex-btn { gap: 10px; }
  
  .about .btn-icon ion-icon {
    color:rgb(146, 41, 41);
    font-size: 40px;
  }
  
  .about .btn-group .span {
    color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    font-weight:600;
  }
  